body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #2c0a0a, #0c0148); 
    font-family: 'Arial', sans-serif;
}

.calculator {
    background: #efb26c; 
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 320px;
}

input {
    width: 92%;
    padding: 10px;
    font-size: 32px;
    text-align: right;
    margin-bottom: 15px;
    border: 2px solid #4a90e2; 
    border-radius: 8px;
    background-color: #f9f9f9; 
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 20px;
    font-size: 24px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: #e6e6e6; 
    transition: background-color 0.3s, transform 0.1s, box-shadow 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background-color: #d0d0d0;
}

.operator {
    background-color: #ff2f00;
    color: white;
}

.operator:hover {
    background-color:  #f85531;
}

.zero {
    grid-column: span 2;
}

.btn:active {
    transform: scale(0.95);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4);
}